<div>
   <div class="row align-dc">
         <app-doughnut-chart></app-doughnut-chart>
   </div>
   <div class=" row report-container">
      <div class="inner-sectipn">
         <h3>Account Level Report</h3>
         <mat-card class="example-card">
               <mat-card-title>Top performing accounts</mat-card-title>
             <mat-card-content>
               <p>
                 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                 bred for hunting.
               </p>
             </mat-card-content>
         </mat-card>
         <div>
               <app-bar-charts></app-bar-charts>
         </div>
         <div class="clicks-vs-conv-div">
           <!--  <h4>Clicks VS Conversions</h4> -->
            <app-clicks-vs-conversion></app-clicks-vs-conversion>
         </div>
         <div>
            <h4>Account List</h4>
            <app-account-list></app-account-list>
         </div>
      </div>
   </div>
</div>