<!-- <div class="row mg-row">
    <div class="col">
      <div echarts [options]="option" class="demo-chart"></div>
    </div>
    <div class="col">
        <fusioncharts
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="dataSource"
      >
      </fusioncharts>
    </div>
    <div class="col">
        <fusioncharts
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="dataSource"
      >
      </fusioncharts>
    </div>
</div> -->
<div class="row mg-row">
  <div class="col">
    <h5 class="text-center">Click through rates</h5>
    <div echarts [options]="option" class="demo-chart"></div>
  </div>
  <div class="col">
    <h5 class="text-center">Clicks</h5>
    <div echarts [options]="option" class="demo-chart"></div>
  </div>
  <div class="col">
    <h5 class="text-center">Conversion Values</h5>
    <div echarts [options]="option" class="demo-chart"></div>
  </div>
</div>