.border-btm{border-bottom: 1px solid gray;}
.mat-card:not([class*=mat-elevation-z]) {
    border: 1px solid gray !important;
}
.mg-row{margin:0.5rem; max-height: 245px;}
/* .col{border: 1px solid gray;margin: 1rem;
    border-radius: 5px;
    padding: 1rem;} */

.col{max-height: 245px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0.5rem;}

h5{margin: 0.5rem;}