<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card>
            <div class="chart-wrapper">
                <canvas baseChart  [colors]="doughnutChartColors" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="chart-wrapper">
                <canvas baseChart  [colors]="doughnutChartColors" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="chart-wrapper">
                <canvas baseChart  [colors]="doughnutChartColors" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>