<div class="row">
  <div class="col">
    <h5 class="text-center">Clicks</h5>
    <div echarts class="bar-height" [options]="option"></div>
  </div>
  <div class="col">
    <h5 class="text-center">Total Costs</h5>
    <div echarts class="bar-height" [options]="option"></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="text-center">Conversion</h5>
    <div echarts class="bar-height" [options]="option"></div>
  </div>
  <div class="col">
    <h5 class="text-center">Toral Conversions Value</h5>
    <div echarts class="bar-height" [options]="option"></div>
  </div>
</div>
