/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html,
body {
  margin: 0;
  padding: 0;
  background: #2b2d2d;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
.mat-raised-button.mat-primary {
    background-color: #419654;
}
input { color: gray;}